@import './global.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// 超链接样式全局修改
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

#app {
  height: 100%;
}

.router-link-active {
  text-decoration: none;
}

// 滚动条样式全局修改
.scrollbar-wrapper {
  overflow-x: hidden !important;
}

.el-scrollbar__bar .is-vertical {
  right: 0px;
}

.is-horizontal {
  display: none;
}

.el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}

.horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

// 菜单图标及文字大小全局修改
.el-menu-item i,
.el-submenu i:nth-child(1) {
  font-size: 19px !important;
  color: #bfcbd9;
  margin-right: 10px !important;
}

// .el-menu-item span, .el-submenu span {
//   font-size: 15px !important;
// }

.nest-menu .el-menu-item i {
  font-size: 17px !important;
}

.nest-menu .el-menu-item span {
  font-size: 12px !important;
}

// 导航栏关闭时隐藏标题
.sidebar-closed {
  .el-submenu__title span,
  .el-submenu__title .el-submenu__icon-arrow {
    display: none;
  }
}

// 输入框前小图标大小及颜色全局修改
.el-input__icon {
  font-size: 17px;
  color: #409eff;
}

// markdown编辑器内代码块修改为有圆角矩形
.markdown-body .hljs {
  border-radius: 4px;
}