html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// 超链接样式全局修改
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.router-link-active {
  text-decoration: none;
}

// 滚动条样式全局修改
.scrollbar-wrapper {
  overflow-x: hidden !important;
}

.el-scrollbar__bar .is-vertical {
  right: 0px;
}

.is-horizontal {
  display: none;
}

.el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}

.horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

// 菜单图标及文字大小全局修改
.el-menu-item i {
  font-size: 22px !important;
  color: #bfcbd9;
  margin-right: 15px !important;
}
.el-menu-item span {
  font-size: 16px !important;
}